.main {
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    color: #2b2839;
    background-color: #c0ecfc;
    border-bottom: 7px solid #3c91b0;
}

.img-section {
    margin-right: 20px;
}

.info-section {
    margin-right: 20px;
    text-align: center;
}

.id-img {
    width: 150px;
}
