.main {
    padding: 20px;
    display: flex;  
}

.img-section {
    margin-right: 20px;
}

.info-section {
    margin-right: 20px;
}

.id-img {
    width: 150px;
}

.border-blue {
    border: 1px dotted #58b0d6;
}