.main {
    width: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.img-section {
    margin-right: 20px;
}

.info-section {
    margin-right: 20px;
    text-align: center;
}

.id-img {
    width: 150px;
}

.border-blue {
    border: 1px dotted #58b0d6;
}